{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

<div class="row mt-4 mb-2 w-100">
    <div class="col-sm-12 pl-5">
            <div class="alert alert-success ">
                <strong>Success</strong>
                {% for type, flash_messages in app.session.flashBag.all %}
                    {% for flash_message in flash_messages %}
                        <div class="flash-{{ type }}">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
    </div>
</div>

    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
    {% endif %}
{% endblock fos_user_content %}
