{% extends 'base.html.twig' %}
{% block body %}

    <div class="row">
        <div class="pt-4 col-lg-12">
            <div class="page-header"><h1>Your passwords:</h1></div>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Login</th>
                        <th scope="col">Password</th>
                        <th scope="col">
                            <div class="btn-group float-right mr-0 " role="group">
                                <a href="{{ path('_new') }}" class="btn btn-primary font-weight-bold">&#x2b;</a>

                                <a  href="{{ path('fos_user_security_logout') }}" class="btn btn-primary font-weight-bold">Logout</a>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for password in passwords %}
                    <tr>
                        <td scope="row">{{ password.name }}</td>
                        <td>{{ password.login }}</td>
                        <td>{{ password.password }}</td>
                        <td>
                            <a href="{{ path('_delete', { 'id': password.id }) }}">
                                <input type="button" class="btn btn-danger float-right " value="&#x2716;">
                            </a>
                            <a href="{{ path('password_edit', { 'id': password.id }) }}">
                                <input type="button" class="btn btn-info float-right" value="&#9881;">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="btn-group float-right mr-3 ">
                <a href="{{ path('_new') }}" class="btn btn-primary font-weight-bold">Add &#x2b;</a>
            </div>
        </div>
    </div>
{% endblock %}


{#<div class="btn-group float-right mr-3 " role="group">#}

    {#<a href="{{ path('_new') }}" class="btn btn-primary font-weight-bold">Add &#x2b;</a>#}

    {#<a  href="{{ path('fos_user_security_logout') }}" class="btn btn-primary font-weight-bold">Logout</a>#}
{#</div>#}